body {
    background-color: white;
}

.sakilaBackground{
    width:900px;
    height:2000px;
    background: rgba(0, 0, 0, 0.9); 
    margin: auto; 
    border:10px black;
    padding: 50px 50px
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.sakilaTextcontainer{
    color: white;
    text-align: center;

}

h1{
    color: white;
    text-align: center;
}

headers{
    'Content-Type': 'application/x-www-form-urlencoded',
    'Accept': 'application/json'
}